.tooltipster-content a {
    color: #fff;
}

.kat-annotated {
    cursor: pointer;
    background-color: #FFFFB2;
}

.popover-content {
    font-weight: normal !important;
}

.ui-pnotify-text {
    font-size: 13px;
}

#annotation-viewer-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 3px;
}

#annotation-viewer-modal {
    width: 800px;
    margin-left: -400px;
}

#annotation-viewer-modal>.modal-body {
    overflow: hidden;
}

.form-horizontal .control-label {
    width: 90px;
}

.form-horizontal .controls {
    margin-left: 110px;
}

.form-documentation-a {
    margin-left: 20px;
}

.form-expand-a {
    margin-right: 15px;
}

#annotation-concept-documentation i, #annotation-ontology-documentation i {
    margin-top: -4px;
    margin-left: 20px;
}

.edit-annotation {
    cursor: pointer;
}

.kat-annotation-text {
    font-style: italic;
}

#show-all-annotations {
    margin-top: 4px;
    cursor: pointer;
}

#hide-all-annotations {
    margin: 4px 10px 0 10px;
    cursor: pointer;
}

#show-all-connections{
    margin: 4px 5px 0 5px;
    cursor: pointer;
}






/* KAT Helper styles */
.kat-annotated-mirror {
  background: lightblue;
  cursor: pointer;
}

.kat-annotated[conceptName], .kat-annotated-mirror {
  position: relative;
}

.kat-annotated[conceptName]:before, .kat-annotated-mirror[conceptName]:before {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  border-radius: 7px 7px 0 0;
  background: rgba(220, 20, 60, 0.75);
  height: 20px;
  padding: 0 3px;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  content: attr(conceptName);
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.kat-annotated[conceptName]:hover:before, .kat-annotated-mirror[conceptName]:hover:before {
  opacity: 0;
}

/* ReviewViewer styles */

.reviewViewer, .reviewViewer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reviewViewer {
  border: 1px solid #ccc;
  height: 600px;
  margin: 10px;
  padding: 0;
}

.reviewViewer-panel {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.reviewViewer-panel + .reviewViewer-panel {
  border-left: 1px solid #ccc;
}

.reviewViewer-panel-actions {
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin: 0 1px;
  height: 35px;
  padding: 0 5px;
  font-family: arial, sans-serif;
  font-size: 10pt;
  line-height: 35px;
}

.reviewViewer-panel-actions .alert {
  margin: 0;
}

.reviewViewer-action {
  display: inline-block;
  margin: 0 5px;
}

.reviewViewer-action.reviewViewer-selected {
  font-weight: bold;
  color: #000;
}

.reviewViewer-counter {
  display: inline-block;
  margin-left: 2px;
}
.reviewViewer-counter:before { content: '('; }
.reviewViewer-counter:after { content: ')'; }

.reviewViewer-panel-content {
  position: absolute;
  height: 565px;
  padding: 5px;
  overflow: auto;
}