

/* KAT Helper styles */
.kat-annotated-mirror {
  background: lightblue;
  cursor: pointer;
}

.kat-annotated[conceptName], .kat-annotated-mirror {
  position: relative;
}

.kat-annotated[conceptName]:before, .kat-annotated-mirror[conceptName]:before {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  border-radius: 7px 7px 0 0;
  background: rgba(220, 20, 60, 0.75);
  height: 20px;
  padding: 0 3px;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  content: attr(conceptName);
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.kat-annotated[conceptName]:hover:before, .kat-annotated-mirror[conceptName]:hover:before {
  opacity: 0;
}

/* ReviewViewer styles */

.reviewViewer, .reviewViewer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reviewViewer {
  border: 1px solid #ccc;
  height: 600px;
  margin: 10px;
  padding: 0;
}

.reviewViewer-panel {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.reviewViewer-panel + .reviewViewer-panel {
  border-left: 1px solid #ccc;
}

.reviewViewer-panel-actions {
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin: 0 1px;
  height: 35px;
  padding: 0 5px;
  font-family: arial, sans-serif;
  font-size: 10pt;
  line-height: 35px;
}

.reviewViewer-panel-actions .alert {
  margin: 0;
}

.reviewViewer-action {
  display: inline-block;
  margin: 0 5px;
}

.reviewViewer-action.reviewViewer-selected {
  font-weight: bold;
  color: #000;
}

.reviewViewer-counter {
  display: inline-block;
  margin-left: 2px;
}
.reviewViewer-counter:before { content: '('; }
.reviewViewer-counter:after { content: ')'; }

.reviewViewer-panel-content {
  position: absolute;
  height: 565px;
  padding: 5px;
  overflow: auto;
}