.tooltipster-content a {
    color: #fff;
}

.kat-annotated {
    cursor: pointer;
    background-color: #FFFFB2;
}

.popover-content {
    font-weight: normal !important;
}

.ui-pnotify-text {
    font-size: 13px;
}

#annotation-viewer-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 3px;
}

#annotation-viewer-modal{
    width: 800px;
    margin-left: -400px;
}

#annotation-viewer-modal>.modal-body{
  overflow: hidden;
}

.form-horizontal .control-label {
  width: 90px;
}

.form-horizontal .controls {
  margin-left: 110px;
}

.form-documentation-a {
  margin-left: 20px;
}

.form-expand-a {
  margin-right: 15px;
}

#annotation-concept-documentation i, #annotation-ontology-documentation i{
  margin-top: -4px;
  margin-left: 20px;
}