.tooltipster-content a {
    color: #fff;
}

.kat-annotated {
    cursor: pointer;
    background-color: #FFFFB2;
}

.popover-content {
    font-weight: normal!important;
}

.ui-pnotify-text{
    font-size: 13px;
}
