.KAT-selection {
  background-color: yellow;
}
div.scrollingDiv{
   overflow-y:scroll;
}

.leftAlign {
  float:left;
}
.rightAlign {
  float:right;
}

.annotationToggle{
  width:200px;
}

.helpButton{
  width:200px;
}

.tfield{
  float: right;
  width: 120px;
}

.collapsible {
    background-color: rgba(235,235,235,0.75);
    border: 1px solid #CCCCCC;
    padding: 2px;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
    z-index: 2;
    overflow: scroll;
    text-align: center;
}

.KATTitle{
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  font-size:
}

.collapseToggleTag{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  text-align: center;
  width: 200px;
  margin-left: -75px;
}

.collapseToggle {
    float: left;
    border: 1px solid #999999;
    background: #999999;
    color: #CECECE;
    margin-left: 2px;
    z-index: 3;
}
.collapseToggle:hover {
    background: #EEBB00;
    color: #000000;
}

.collapsible ul {
    position:relative;
    right: 10px;
    list-style: none;
}

.collapsible ul li {
  background-color: rgb(235,235,235);
  word-wrap: break-word;
  padding: 10px;
  overflow: auto;
  border : 1px solid black;
  font: 14px Arial, Helvetica, sans-serif;
}

.formButton {
  height: 20px;
  width: 80px;
  margin-bottom: 0px;
}

label {
  font-size: 10px;
}

/* Submenu support */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
